#   SPDX-FileCopyrightText: no
#   SPDX-License-Identifier: CC0-1.0
---
Language: Cpp
BasedOnStyle: LLVM

Standard: c++17

AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true
FixNamespaceComments: true

AlwaysBreakBeforeMultilineStrings: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: Yes

ColumnLimit: 120
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 4

UseTab: Never
IndentWidth: 4
IndentAccessModifiers: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash

SpacesInAngles: Always
SpaceAfterCStyleCast: false
SpaceInEmptyBlock: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

NamespaceIndentation: None
PointerAlignment: Left
ReflowComments: false
SortIncludes: CaseInsensitive

IncludeBlocks: Preserve
IncludeIsMainSourceRegex: ''
IncludeCategories:
  - Regex:           '^"src/dwm-win32'
    Priority:        0
    CaseSensitive:   true
  - Regex:           '^"(src)/'
    Priority:        1
    CaseSensitive:   true
  - Regex:           '^"(src)/(mods)/'
    Priority:        1
    CaseSensitive:   true
  - Regex:           '.*'
    Priority:        2
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        3
    CaseSensitive:   true
  - Regex:           '^((<|")(gtest|gmock|isl|json)/)'
    Priority:        4
  - Regex:           '<[[:alnum:].]+>'
    Priority:        5
