#   SPDX-FileCopyrightText: no
#   SPDX-License-Identifier: CC0-1.0
---
Language: Cpp
BasedOnStyle: LLVM

Standard: c++17

AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true
FixNamespaceComments: true

AlwaysBreakBeforeMultilineStrings: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: Yes

ColumnLimit: 120
IncludeBlocks: Regroup
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 4

UseTab: Never
TabWidth: 2
IndentWidth: 4
IndentAccessModifiers: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash

SpacesInAngles: Always
SpaceAfterCStyleCast: false
SpaceInEmptyBlock: false
SpacesInParentheses: false
SpacesInSquareBrackets: false


NamespaceIndentation: None
PointerAlignment: Left
ReflowComments: false
SortIncludes: CaseInsensitive
