*.exe
*.pdb

tags/
*.swp
*.orig

.clangd/
compile_commands.json

zig-cache/
.zig-cache/
zig-out/
*.zig
*.zig.zon

extern/sdl2/android-project/.gradle/

.vs/
dwm-windows/
bin/
.build/
/x64/
/Release/

*.obj
*.vcxproj.user

dwm-win32.log
/*.txt

.task/
.cmake/
cmake-*/

.idea/
